{{#if selectedLeaderboard}}
  {{d-button
    class="leaderboard-admin__btn-back btn-flat"
    icon="chevron-left"
    label="gamification.back"
    title="gamification.back"
    action=(action (mut selectedLeaderboardId) null)
  }}
  <form class="form-vertical">
    <div class="control-group">
      <div class="leaderboard-admin__form-row">
        <label class="control-label">
          {{i18n "gamification.leaderboard.name"}}
        </label>
        {{input
          type="text"
          value=selectedLeaderboard.name
          placeholder=(i18n "gamification.leaderboard.name")
        }}
      </div>
      <div class="leaderboard-admin__form-row">
        <label class="control-label">
          {{i18n "gamification.leaderboard.date.range"}}
        </label>
        <div class="controls">
          {{date-picker-past
            class="date-input"
            placeholder="yyyy-mm-dd"
            value=selectedLeaderboard.from_date
            onSelect=(action (mut fromDate))
          }}
          {{date-picker
            class="date-input"
            placeholder="yyyy-mm-dd"
            value=selectedLeaderboard.to_date
            onSelect=(action (mut toDate))
          }}
          <div>{{i18n "gamification.leaderboard.date.helper"}}</div>
        </div>
      </div>
      <div class="leaderboard-admin__form-row">
        <label class="control-label">
          {{i18n "gamification.leaderboard.included_groups"}}
        </label>
        {{group-chooser
          content=model.groups
          value=includedGroupIds
          labelProperty="name"
          onChange=(action (mut includedGroupIds))
        }}
        <div>{{i18n "gamification.leaderboard.included_groups_help"}}</div>
      </div>
      <div class="leaderboard-admin__form-row">
        <label class="control-label">
          {{i18n "gamification.leaderboard.visible_to_groups"}}
        </label>
        {{group-chooser
          content=model.groups
          value=visibleGroupIds
          labelProperty="name"
          onChange=(action (mut visibleGroupIds))
        }}
        <div>{{i18n "gamification.leaderboard.visible_to_groups_help"}}</div>
      </div>
    </div>
    {{d-button
      class="btn-primary"
      label="gamification.save"
      action=(action "saveEdit")
      disabled=saveEditDisabled
    }}
    {{d-button
      class="btn-secondary leaderboard-admin__btn-cancel-edit"
      label="gamification.cancel"
      action=(action (mut selectedLeaderboardId) null)
    }}
  </form>

{{else}}
  <h3 class="leaderboard-admin__title">
    {{i18n "gamification.leaderboard.title"}}
  </h3>

  {{#if creatingNew}}
    <div class="new-leaderboard-container">
      {{input
        type="text"
        value=newLeaderboardName
        placeholder=(i18n "gamification.leaderboard.name_placeholder")
      }}
      {{d-button
        label="gamification.create"
        title="gamification.create"
        class="btn-primary create-new-leaderboard-btn"
        disabled=(not nameValid)
        action=(action "createNewLeaderboard")
      }}
      {{d-button
        label="gamification.cancel"
        title="gamification.cancel"
        action=(action (mut selectedLeaderboardId) null)
      }}
    </div>

  {{else}}
    {{#if model.leaderboards}}
      {{d-button
        label="gamification.leaderboard.new"
        title="gamification.leaderboard.new"
        icon="plus"
        class="btn-primary leaderboard-admin__btn-new"
        action=(action (mut creatingNew) true)
      }}
    {{/if}}
  {{/if}}

  <div class="leaderboards">
    {{#if model.leaderboards}}
      <table>
        <thead>
          <th>{{i18n "gamification.admin.name"}}</th>
          <th>{{i18n "gamification.admin.period"}}</th>
          {{!-- <th>Contenders</th>
          <th>Visible to</th> --}}
          <th></th>
          <th></th>
        </thead>

        <tbody>
          {{#each sortedLeaderboards as |leaderboard|}}
            <tr>
              <td>
                {{#link-to "gamificationLeaderboard.byName" leaderboard.id}}
                  {{leaderboard.name}}
                {{/link-to}}
              </td>
              <td>
                {{#if leaderboard.from_date}}
                  {{format-date leaderboard.from_date}}
                  -
                  {{format-date leaderboard.to_date}}
                {{/if}}
              </td>
              {{!-- <td>placeholder</td>
              <td>placeholder</td> --}}
              <td class="leaderboard-admin__listitem-action">
                {{d-button
                  class="btn-flat"
                  icon="pencil-alt"
                  title="gamification.edit"
                  action=(action (mut selectedLeaderboardId) leaderboard.id)
                }}
              </td>
              <td class="leaderboard-admin__listitem-action">
                {{d-button
                  class="btn-flat"
                  icon="trash-alt"
                  title="gamification.delete"
                  action=(action "destroyLeaderboard" leaderboard)
                }}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{#unless creatingNew}}
        {{i18n "gamification.leaderboard.none"}}
        {{d-button
          label="gamification.leaderboard.cta"
          title="gamification.leaderboard.cta"
          class="btn-primary leaderboard-admin__cta-new"
          action=(action (mut creatingNew) true)
        }}
      {{/unless}}
    {{/if}}
  </div>
{{/if}}