<div class="user {{if rank.currentUser "-highlight"}}" id="leaderboard-user-{{rank.id}}">
  <div class="user__rank">{{sum index 4}}</div>
  <div class="user__avatar clickable" role="button" data-user-card={{rank.username}}>
    {{avatar rank imageSize="large"}}
    <span class="user__name">{{rank.username}}</span>
  </div>
  <div class="user__score">{{rank.total_score}}</div>
</div>
