<div class="leaderboard">
  <div class="wrap-podium">
    <div class="wrap">
      <div class="page__header">
        <h1 class="page__title">{{model.name}}</h1>
        {{d-button action=(action "showLeaderboardInfo") class="-ghost" icon="info-circle" label=(unless site.mobileView "How does this work?")}}
      </div>

      <div class="podium">
        {{#each winners as |winner|}}
          <div class="winner -{{winner.class}}">
            <div class="winner__avatar">
              {{avatar winner.user imageSize="huge"}}
              <div class="winner__rank"><span>{{winner.position}}</span></div>
            </div>
            <div class="winner__name">{{winner.user.username}}</div>
            <div class="winner__score">{{winner.user.total_score}}</div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="ranking">
      <div class="ranking-col-names">
        <span>Rank</span>
        <span>{{d-icon 'award'}}{{i18n "gamification.score"}}</span>
      </div>
      {{#if currentUserRanking}}
        <a href="#leaderboard-user-{{currentUserRanking.user.id}}" class="user -self">
          <div class="user__rank">{{currentUserRanking.position}}</div>
          <div class="user__name">you</div>
          <div class="user__score">{{currentUserRanking.total_score}}</div>
        </a>
      {{/if}}

      {{#each ranking as |rank|}}
        {{gamification-leaderboard-row rank=rank}}
      {{/each}}
    </div>
  </div>
</div>
