<div class="leaderboard">
  <h1>{{model.name}}</h1>
  <table>
    <thead>
      <tr class="leaderboard-header">
        <th>{{i18n "user.username.title"}}</th>
        <th>{{i18n "gamification.score"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.users as |u|}}
        <tr class="leaderboard-row">
          <td>
            <div class="leaderboard-user-avatar">
              <div role="button" class="leaderboard-user-avatar-container clickable" data-user-card={{u.username}}>
                {{avatar u imageSize="small"}}
                {{u.username}}
              </div>
            </div>
          </td>
          <td>{{u.total_score}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
