<div class="leaderboard">
  <div class="page__header">
    <h1 class="page__title">{{ model.name }}</h1>
    {{d-button action=(action "showLeaderboardInfo") class="-ghost" icon="info-circle" label=(unless site.mobileView "gamification.leaderboard.info")}}
  </div>

  <div class="podium__wrapper">
    <div class="podium">
      {{#each winners as |winner position|}}
        <div class="winner -position{{sum position 1}}">
          <div class="winner__crown">{{d-icon "crown"}}</div>
          <div class="winner__avatar clickable" role="button" data-user-card={{ winner.username }}>
            {{avatar winner imageSize="huge"}}
            <div class="winner__rank">
              <span>{{sum position 1}}</span>
            </div>
          </div>
          <div class="winner__name">{{ winner.username }}</div>
          <div class="winner__score">{{ format winner.total_score }}</div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="ranking">
    <div class="ranking-col-names">
      <span>Rank</span>
      <span>{{d-icon "award"}}{{i18n "gamification.score"}}</span>
    </div>
    <div class="ranking-col-names__sticky-border"></div>
    {{#if currentUserRanking}}
      <a href="#leaderboard-user-{{ currentUserRanking.user.id }}" class="user -self">
        <div class="user__rank">{{ currentUserRanking.position }}</div>
        <div class="user__name">you</div>
        <div class="user__score">
          {{#if site.mobileView}}
            {{number currentUserRanking.total_score}}
          {{else}}
            {{format currentUserRanking.total_score}}
          {{/if}}
        </div>
      </a>
    {{/if}}

    {{#each ranking as |rank index|}}
      {{gamification-leaderboard-row rank=rank index=index}}
    {{/each}}
  </div>
</div>