<div class="leaderboard">
  <div class="page__header">
    <h1 class="page__title">{{this.model.leaderboard.name}}</h1>
    <DButton
      @action={{action "showLeaderboardInfo"}}
      class="-ghost"
      @icon="info-circle"
      @label={{unless site.mobileView "gamification.leaderboard.info"}}
    />
  </div>

  <div class="leaderboard__controls">
    <PeriodChooser
      @period={{this.period}}
      @action={{action "changePeriod"}}
      @fullDay={{false}}
      class="leaderboard__period-chooser"
    />
    {{#if this.currentUser.staff}}
      <a href="/admin/plugins/gamification" class="leaderboard__settings">
        {{d-icon "cog"}}
        {{unless
          site.mobileView
          (i18n "gamification.leaderboard.link_to_settings")
        }}
      </a>
    {{/if}}
  </div>

  <div class="podium__wrapper">
    <div class="podium">
      {{#each winners as |winner position|}}
        <div class="winner -position{{sum position 1}}">
          <div class="winner__crown">{{d-icon "crown"}}</div>
          <div
            class="winner__avatar clickable"
            role="button"
            data-user-card={{winner.username}}
          >
            {{avatar winner imageSize="huge"}}
            <div class="winner__rank">
              <span>{{sum position 1}}</span>
            </div>
          </div>
          <div class="winner__name">
            {{#if this.siteSettings.prioritize_username_in_ux}}
              {{winner.username}}
            {{else}}
              {{winner.name}}
            {{/if}}
          </div>
          <div class="winner__score">{{fullnumber winner.total_score}}</div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="ranking">
    <div class="ranking-col-names">
      <span>{{i18n "gamification.leaderboard.rank"}}</span>
      <span>{{d-icon "award"}}{{i18n "gamification.score"}}</span>
    </div>
    <div class="ranking-col-names__sticky-border"></div>
    {{#if currentUserRanking.user}}
      <div class="user -self">
        <div class="user__rank">{{currentUserRanking.position}}</div>
        <div class="user__name">{{i18n "gamification.you"}}</div>
        <div class="user__score">
          {{#if site.mobileView}}
            {{number currentUserRanking.user.total_score}}
          {{else}}
            {{fullnumber currentUserRanking.user.total_score}}
          {{/if}}
        </div>
      </div>
    {{/if}}

    <LoadMore @selector=".user" @action={{action "loadMore"}}>
      {{#each ranking as |rank index|}}
        <GamificationLeaderboardRow @rank={{rank}} @index={{index}} />
      {{/each}}
    </LoadMore>
    <ConditionalLoadingSpinner @condition={{loading}} />
  </div>
</div>