<div class="leaderboard -minimal">
  <div class="page__header">
    <h3 class="page__title">{{ this.model.leaderboard.name }}</h3>
  </div>

  <div class="ranking-col-names">
    <span>Rank</span>
    <span>{{d-icon "award"}}{{i18n "gamification.score"}}</span>
  </div>
  <div class="ranking-col-names__sticky-border"></div>
  {{#if (and currentUserRanking.user notTopTen) }}
    <div class="user -self">
      <div class="user__rank">{{ currentUserRanking.position }}</div>
      <div class="user__name">{{i18n "gamification.you"}}</div>
      <div class="user__score">
        {{#if site.mobileView}}
          {{number currentUserRanking.user.total_score}}
        {{else}}
          {{fullnumber currentUserRanking.user.total_score}}
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#each ranking as |rank index|}}
    {{minimal-gamification-leaderboard-row rank=rank index=index}}
  {{/each}}
</div>
