<div class="discourse-gamification__leaderboards admin-detail">
  <h3 class="leaderboard-admin__title">
    {{i18n "gamification.leaderboard.title"}}
  </h3>

  {{#if creatingNew}}
    <AdminCreateLeaderboard @onCancel={{action this.resetNewLeaderboard}} />
  {{else}}
    {{#if model.leaderboards}}
      <DButton
        @label="gamification.leaderboard.new"
        @title="gamification.leaderboard.new"
        @icon="plus"
        class="btn-small btn-primary leaderboard-admin__btn-new"
        @action={{action (mut creatingNew) true}}
      />

      <DButton
        @label="gamification.recalculate"
        @title="gamification.recalculate"
        class="btn-small btn-secondary leaderboard-admin__btn-recalculate"
        @action={{action "recalculateScores"}}
      />
    {{/if}}
  {{/if}}

  <div class="leaderboards">
    {{#if model.leaderboards}}
      <table>
        <thead>
          <th>{{i18n "gamification.admin.name"}}</th>
          <th>{{i18n "gamification.admin.period"}}</th>
          <th></th>
          <th></th>
        </thead>

        <tbody>
          {{#each sortedLeaderboards as |leaderboard|}}
            <tr id={{concat "leaderboard-admin__row-" leaderboard.id}}>
              <td>
                <LinkTo
                  @route="gamificationLeaderboard.byName"
                  @model={{leaderboard.id}}
                >
                  {{leaderboard.name}}
                </LinkTo>
              </td>
              <td>
                {{#if leaderboard.fromDate}}
                  {{format-date leaderboard.fromDate}}
                  -
                  {{format-date leaderboard.toDate}}
                {{else}}
                  {{leaderboard.defaultPeriod}}
                {{/if}}
              </td>
              <td class="leaderboard-admin__listitem-action">
                <LinkTo
                  @route="adminPlugins.show.discourse-gamification-leaderboards.show"
                  @model={{leaderboard}}
                  class="btn leaderboard-admin__edit btn-text btn-small"
                >{{i18n "gamification.edit"}} </LinkTo>
              </td>
              <td class="leaderboard-admin__listitem-action">
                <DButton
                  class="btn-danger btn-small leaderboard-admin__delete"
                  @label="gamification.delete"
                  @title="gamification.delete"
                  @action={{action "destroyLeaderboard" leaderboard}}
                />
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{#if (not creatingNew)}}
        <div class="admin-plugin-config-area__empty-list">
          {{i18n "gamification.leaderboard.none"}}
          <DButton
            @label="gamification.leaderboard.cta"
            class="btn-default btn-small leaderboard-admin__cta-new"
            @action={{action (mut creatingNew) true}}
          />
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
